# 忽略目录
.idea/
.vscode/
/temp
__pycache__/

# 忽略migrations文件
**/migrations/*.py
!**/migrations/__init__.py
/Dockerfile/requirements.txt

# 忽略文件
*.pyc
db.sqlite3
.qiniu_*
deploy-prod.sh

# Pipfile
# Pipfile.lock

