body {
  width: 100%;
  scroll-behavior: smooth;
  color: #595959;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

// icon样式
i.danger, span.danger {
  color: #fc5531;
}

// h标题
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}
h4 {
  font-size: 15px;
}

.el-tag {
  margin: 2px 5px;
}
.el-popconfirm__main {
  padding: 5px 5px 10px 5px;
}
.el-message--warning {
  background-color: #fff;
}

a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
  -webkit-text-decoration-skip: objects;
}