.container {
  font-size: 14px;
}

.container > .body > .right,
.container > .body > .content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  .header {
    // height: 42px;
    max-height: 42px;
    box-sizing: border-box;
    // background-color: #eee;
    background-color: #eaedf1;
    .navs {
      line-height: 22px;
      padding: 10px 12px;
      font-size: 14px;
      .el-breadcrumb__item {
        font-weight: 400;
        color: #82848a;
        .is-link {
          color: #666;
          font-weight: 400;
        }
      }
    }
  }
  .main {
    flex: 1;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px 20px;

    // 工具样式开始
    .tools {
      margin-top: 10px;
      margin-bottom: 10px;
      .search {
        max-width: 260px;
        min-width: 160px;
      }
      .right {
        text-align: right;
        button {
          margin-left: 10px;
        }
      }
    }

    .el-table {
      margin: 15px 0;
      // min-height: 350px;
      th {
        background-color: #eee;
        padding: 3px 0;
      }
      td {
        padding: 5px 0;
      }
      th + th {
        border-left: 1px solid #f9f9f9;
      }
    }

    .top-bar {
      // height: 26px;
      // line-height: 26px;
      padding: 3px 0;
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
    }

    // 页面主体内容的标题
    .title {
      margin-bottom: 10px;
      // margin-top: 8px;
      margin-bottom: 6px;
      h4 {
        line-height: 18px;
        // border-left: 2px solid #88b7e0;
        // border-left: 2px solid #1890ff;
        border-left: 2px solid #1890ffd4;
        padding-left: 10px;
        color: #444;
      }
    }
  }
}
