
// 标签列表：文章详情页、图片的modal信息面板
.tags {  // 标签列表
    // 如果想让tags以block的形式展示，可在外面包裹一层div即可
    display: inline-block;
    .ant-tag.tag-plus {
        background-color: #fff;
        border-style: dashed;
    }

    .ant-tag {
        cursor: pointer;
        transition: display 0.3s, width 0.5s;
        .key {
            color: #999;
        }
        span[role="img"]{
            display: none;   // 标签的关闭按钮，默认不显示，鼠标移上去了才显示
            // visibility: hidden;
        }

        &:hover {
            span[role="img"]{
                // visibility: visible;
                display: inline;
            } 
        }

        .ant-input.tag-input{ // 添加标签的输入框
            width: 170px !important;
            margin-right: 8px;
            border: 20px;
            vertical-align: top;
            border: 1px solid red !important;
        }
    }
}

// docs/images/list
// 图片瀑布流
.images-list { 
    // border: 1px solid #d9d9d9;
    // column-count: 5; // 在代码中根据元素的宽度计算设置
    min-height: 450px;
    // column-gap: 1em;
    column-gap: 5px;
    padding: 10px 15px;
    padding-left: 5px;
    padding-right: 18px;
    // text-align: left;
    text-align: center;
    align-self: flex-start;
    border: 1px solid #d4d6d8;
    box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    // -webkit-column-break-inside:avoid;
    // break-inside:avoid;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.images-list .image-item, // 图片列表页
.results .image-item { // 搜索页
    // background-color: #fff;
    max-width: 320px;
    min-width: 200px;
    // 如果使用了margin可能会造成一个元素显示在两列，改用padding，break-inside为avoid才有效
    // 故在css里面再加一层：item-inner
    -webkit-column-break-inside: avoid;
    break-inside:avoid;
    width: 100%;
    cursor: pointer;
    padding: 5px 3px; // 为了让.item-inner有margin的效果
    box-sizing: border-box;

    .item-inner{
        position: relative;
        background-color: #fff;
        padding: 3px 3px;
        margin: 5px 5px;
        border-radius: 5px;
        border: 1px solid #d4d6d8;
        box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.18);
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        // min-height: 65px;

        &:hover{
            // border: 1px solid @left-sider-nav-active-background;
            // box-shadow: 0 3px 4px -4px @border-bottom-line-color;
            box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.58);
            min-height: 65px;
            .buttons {
                display: block;
                
            }
        }
        .buttons {
            // background-color: rgba(255, 255, 255, 0.8);
            background-color: #fff;
            // z-index: 12;
            width: 100%;
            border-top: 1px solid @border-bottom-line-color;
            // border-top: 1px solid @left-sider-nav-active-background;
            padding: 3px 5px;
            display: none;
            position: absolute;
            right: 0;
            // top: 0;
            bottom: 0;
            text-align: right;
            box-shadow: 0 8px 14px -4px rgba(0, 0, 0, 0.2);
            button {
                background-color: #fff;
                color: #777;
                &:hover{
                    color: #232323;
                }
            }
        }
    }

    img {
        max-width: 100%;
        margin-bottom: 0;
        border-radius: 3px;
        box-sizing: border-box;
        break-inside:avoid;
    }

    // &:hover{
    //     border: 1px solid @left-sider-nav-active-background;
    //     // box-shadow: 0 3px 4px -4px @border-bottom-line-color;
    //     box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.58);
    // }
}

// 图片对话框
.ant-modal-wrap.show-image-modal{
    & > div{
        // 让弹出的modal高度为100%
        height: 100%;
    }

    .ant-modal-content {
        background: none;
        height: 100%;

        .ant-modal-close{
            .ant-modal-close-x{
                font-size: 36px;
                margin-top: 15px;
                margin-right: 15px;
                .anticon-close{
                    border-radius: 30px;
                    // background-color: #fff;
                    padding: 10px;
                    background-color: rgba(231,231,231, 0.8);
                }
            }
        }
        // 设置body中的样式
        .ant-modal-body{
            position: relative;
        }
        
        // 弹出的图片框，内容
        .ant-modal-body .show-image {
            width: 100%;
            height: 100%;
            overflow: auto;

            text-align: center;
            // display: flex !important;
            // align-items: center;
            // justify-content: center;
            & > img {
                // max-width: 100%;
                background-color: #fff;
                max-width: 750px;
                max-height: 90vh;
                border: 1px solid #d4d6d8;
                box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.5);
            }

            .info {
                min-width: 320px;
                position: absolute;
                background-color: #fff;
                right: 10px;
                bottom: 3px;
                padding: 10px;
                border-radius: 2px;
                text-align: left;
                // border: 1px solid #d4d6d8;
                box-shadow: 0 4px 18px -4px rgba(0, 0, 0, 0.7);
                dt {
                    width: 80px;
                    // text-align: justify;
                    // text-align-last: justify;
                }
                .close {
                    transition: display 1s;
                    padding: 5px;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    i {
                        display: inline-block;
                    }
                    .text {
                        display: none;
                    }
                    &:hover{
                        .text {
                            display: block;
                        }
                        i {
                            display: none;
                            font-size: 15px;
                        }
                    }
                }
                .copy {
                    cursor: pointer;
                    &:hover {
                        color: #232323;
                    }
                }
                dd {
                    max-width: 320px;
                }
            }
        }
    }
    
}

.ant-table-row-expand-icon {
    margin-right: 8px;
}