// 复写Element的样式

.el-pagination {
  // text-align: right;
  margin: 5px 0;
}

.el-dialog__header {
  border-bottom: 1px solid #eee;
  // background-color: #eee;
}

.el-dialog__body {
  padding: 10px 20px;
}

.container .el-transfer {
  .el-transfer-panel {
    .el-transfer-panel__body .el-input {
      width: 168px;
    }
  }
}
