// 复写Element的样式

.el-form {
  .el-form-item {
    margin-bottom: 12px;
  }
}

// 表格折叠样式

.el-table {
  .el-table__row {
    .cell {
      position: relative;
      .el-table__expand-icon {
        position: absolute;
        left: 10px;
        top: 2px;
        // background-color: #f9f9f9;
        border-radius: 10px;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

.el-pagination {
  // text-align: right;
  margin: 5px 0;
}

.el-dialog__header {
  border-bottom: 1px solid #eee;
  // background-color: #eee;
}

.el-dialog__body {
  padding: 10px 20px;
}

.container .el-transfer {
  .el-transfer-panel {
    .el-transfer-panel__body .el-input {
      width: 168px;
    }
  }
}

.full .el-upload-dragger {
  width: 100%;
}

.el-upload-dragger {
  img {
    max-width: 100%;
    height: auto;
  }
}
