@charset "UTF8";


.right-nav-ul {
  list-style: none;
  padding: 0;
}

// 内嵌页面样式
.container .right-nav {
  // 右侧导航样式
  background-color: #eaedf1;
  // background-color: rgba(112, 119, 143, 0.16);
  min-height: 100%;
  max-height: 100%;
  // overflow: scroll;
  // overflow-x: hidden;
  width: 180px;
  max-width: 180px;
  display: inline-block;
  border-left: 1px solid rgba(112, 119, 143, 0.16);

  .nav-title {
    // 头部title的样式
    padding: 10px 10px;
    background-color: #d9dee4;
    h3 {
      line-height: 50px;
      color: #444;
    }
  }
  // 右侧导航的ul列表样式
  ul {
    li {
      color: #333;
      //   右侧导航的a链接样式
      a {
        display: inline-block;
        padding-left: 15px;
        line-height: 40px;
        color: #666;
        font-size: 13px;
        width: 180px;
        text-decoration: None;
        &.active {
          background-color: #fff;
        }
      }
    }
  }
}


// 分组导航
.groups-nav {
  // position: absolute;
  // min-width: 700px;
  // width: 70%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  border: 1px solid #ddd;
  margin: 10px;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  -webkit-transform: translate3d(0, 0, 0);
  max-width: 900px;

  .groups {
    width: 205px;
    
    ul {
      margin: 0;
      padding: 0;
      min-height: 260px;
      border-right: 1px solid #f5f5f5;
    }

    li {
      clear: both;
      margin: 0;
      padding: 5px 12px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: normal;
      font-size: 13px;
      line-height: 22px;
      white-space: nowrap;
      list-style: none;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover, &.active {
        background-color: #f5f5f5;
      }
    }

  }
  .current{
     min-width: 400px;
     min-height: 260px;
     flex: 1;
     display: flex;
     flex-direction: column;
     overflow: auto;
     .header {
       position: relative;
       padding: 10px 15px;
       .title {
        //  float: left;
         font-size: 20px;
         line-height: 26px;
         font-weight: bold;
         color: #595959;
         padding: 5px 10px;
         border-bottom: 1px solid @border-bottom-line-color;
       }
       .description {
        //  float: left;
        font-style: italic;
        color: #999;
        padding: 3px 5px;
       }
       
     }
     .content {
       flex: 1;
        padding: 5px 10px;
        position: relative;
        .logo {
            position: absolute;
          //  float: right;
            right: 5px;
            bottom: 5px;
            background-color: #fff;
            img {
              width: 100px;
              border-radius: 5px;
            }
        }

        .title {
          cursor: pointer;
        }
        .ant-col > .title {
            border-bottom: 1px solid @border-bottom-line-color;
        }
        .ant-row {
          .ant-col {
            margin-bottom: 15px;
          }
          .item {
            font-size: 14px;
            font-weight: 400;
            .title {
              padding: 3px 5px;
              &:hover {
                background-color: #f5f5f5;
              }
            }
          }
        }
     }
  }

}