// 搜索相关的页面

.main > .search {
    .form {
        text-align: center;
        .logo {
            text-align: center;
            img {
                padding: 15px 20px;
                background-color: #1890ff;
                border-radius: 5px 5px 0 0;
            }
        }
        .input {
            width: 45%;
            margin: 0 auto;
        }
    }
    
}

.main .results {
    .images {
        img {
            max-height: 230px;
            width: auto;
        }
    }
    .item {
        display: inline-block;
        padding: 5px;
        margin: 5px;
    }
}