body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  text-align: center;
  margin-top: 15%;
}

.header .logo {
  margin: 0 auto;
  width: 260px;
  background-color: #4A90E2;
  padding: 10px;
}

.header .logo img {
  margin: none;
}

.header p{
  margin: 0 auto;
  width: 260px;
  background-color: #dfdfdf;
  padding: 30px 10px;
}

